---
import { getAllPosts } from "@database/utils/posts.ts";
import { Button, Flex, Heading } from "@radix-ui/themes";
import { PostTable } from "@/components/PostTable";
import AdminLayout from "@/layouts/AdminLayout.astro";

export const prerender = false;

const posts = await getAllPosts(false) || [];
---

<AdminLayout title="記事一覧">
  <Flex justify="between" align="center" mb="5">
    <Heading as="h1" size="6" trim="start">記事管理</Heading>
    <a href="/admin/posts/new">
      <Button>新規作成</Button>
    </a>
  </Flex>

  <PostTable posts={posts} client:visible />
</AdminLayout>

